.nav__link {
  text-decoration: none;
  color: #242424;
  font-family: 'FormularLight';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.375;
  display: block;
  padding-right: 10px;
  padding-left: 10px;
  position: relative;
  transition: opacity .2s linear;
}

.nav__link:hover::before {
  content: url(../../../images/header/ellipse-left.svg);
  position: absolute;
  height: 24px;
  width: 10px;
  left: 0;
  top: -1px;
}

.nav__link:hover::after {
  content: url(../../../images/header/ellipse-right.svg);
  position: absolute;
  height: 24px;
  width: 10px;
  top: -1px;
}

.nav__link:active {
  opacity: .6;
}