.preview-project__btn {
  border: 1px solid #242424;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(90deg, transparent 0% 50%, #242424 50% 100%);
  background-size: 200% 100%;
  background-position: 0 100%;
  transition: background-position .4s;

  margin-bottom: 38px;
  margin-left: 21.49%;
  padding: 16px 16px 18px;
  width: 240px;
  height: 56px;
  outline: none;
}

.preview-project__btn:hover {
  background-position: -100% 100%;
}

.preview-project__btn:hover .preview-project__btn-text {
  color: #fff;
}

.preview-project__btn:hover .preview-project__btn-union {
  filter: invert(100%);
}

@media (min-width: 416px) {
  .preview-project__btn {
    margin-left: 0;
  }
}